# Ignore the virtual environment directory
entorno_virtual/
client/node_modules
node_modules
# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore sensitive data (e.g., secret keys, passwords)
*.env

# Ignore user-uploaded media files (if applicable)
media/
#gongo-50bb7-firebase-adminsdk-9nbod-d34b4a74d0.json